.settings__setting {
    padding: 4vw 0vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .settings__setting i {
    font-size: 5.5vw;
    margin-right: 4vw;
    opacity: 0.8;
    width: 25px;
  }
  
  .settings__setting-column:last-child {
    opacity: 0.4;
    font-size: 3vw;
  }
  
  .settings__setting:last-child {
    padding-bottom: 7vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .settings-list:nth-child(2) .settings__setting:first-child {
    margin-top: 10px;
  }
  
  .settings-list:last-child .settings__setting:last-child {
    margin-top: 5px;
    padding-bottom: 0px;
    border-bottom: none;
  }